@if (visibleSignal() != 'hidden') {
  <img class="thumbnail" decoding="async" loading="eager" alt="Thumbnail" [src]="media.urls.thumb">

  @if (visibleSignal() == 'focus') {
    @if (loaderIsVisible$|async) {
      <div class="progress-container">
        <app-progress-bar class="progress"></app-progress-bar>
      </div>
    }

    <!-- we take over lazy loading here, so we load 'eager'. -->
    <img class="image" decoding="async" loading="eager"
         (load)="onImageLoad()"
         [alt]="media.name" [src]="media.urls.preview">
  }
}
