<ng-container *ngIf="album$|async as album">
  <div class="title">
    <h1>{{ album.name }}</h1>
    <div class="info">{{ album.items.length }} images, {{ album.timestamp|date:'shortDate' }}</div>
  </div>

  <app-album
    class="album"
    [items]="album.items"
    (imageClicked)="imageClicked($event)"></app-album>

  @if (imageToShow != null) {
    @defer {
      <div class="image-viewer">
        <app-image-swiper [items]="album.items" [imageToShow]="imageToShow.id"></app-image-swiper>
        <button class="close" (click)="imageToShow=null">Back</button>
      </div>
    }
  }
</ng-container>
