<ng-container *ngIf="album$|async as album">
  <div class="title">
    <h1>{{ album.title }}</h1>
    <div class="info">{{ album.images.length }} images, {{ album.date|date:'shortDate' }}</div>
  </div>

  <app-album [images]="album.images" (imageClicked)="imageClicked($event)"></app-album>

  <div *ngIf="imageToShow != null" class="image-viewer">
    <app-image-swiper [images]="album.images" [imageToShow]="imageToShow.id"></app-image-swiper>
    <button class="close" (click)="imageToShow=null">Back</button>
  </div>
</ng-container>

