:host {
  display: block;
  cursor: pointer;
}

.thumb {
  display: block;
  --thumbnail-border-radius: 8px;
}

.info {
  padding-top: 8px;

  .title {
    font-weight: bold;
    line-height: 24px;
  }

  .subtitle {
    opacity: 0.75;
    font-size: 14px;
    line-height: 24px;
  }
}
