:host {
  --row-columns: 4;
  width: 100vw;
}

:host {
  gap: 4px;
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
  justify-content: start;
}

app-thumbnail {
  width: calc((100% - ((var(--row-columns) - 1) * 4px)) / var(--row-columns));
}
