@use "../../../viewport";

:host {
  display: block;
  background: white;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 6px 0;

  @include viewport.large {
    max-width: 480px;
    margin: 0 auto;
    padding: 12px 0;
  }
}
