:host {
  display: block;
  background: black;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  touch-action: manipulation;
  will-change: transform;

  &.animate {
    transition: transform 166ms ease-out;
  }
}

.child {
  display: block;
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
}

.fullsize-link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  border: 0;
  background: #555;
  color: white;
  text-decoration: none;
}
