:host {
  display: block;
  background: black;
  overflow: hidden;
}

.container {
  display: block;
  touch-action: manipulation;
  will-change: transform;

  width: 100vw;
  height: 100vh;

  &.animate {
    transition: transform 166ms ease-out;
  }
}

.child {
  display: block;
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: calc(var(--index) * 100vw);

  overflow: hidden;
}
