:host {
  display: grid;

  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  grid-auto-flow: row;
  column-gap: 16px;

  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
