@if (items(); as items) {
  @if (items.state === 'success') {
    <app-image-swiper
      [items]="items.data"
      [mediaToShowOnInit]="mediaId()"
      (itemChanged)="itemChanged($event)"
    ></app-image-swiper>
  }
}

<div class="actions">
  <button class="button button-back" (click)="close()">
    <app-icon name="arrow-left"/>
  </button>

  @if (currentItem(); as item) {
    <div class="name">
      {{ item.name }}
    </div>

    <a class="button" [download]="item.name" [href]="item.urls.fullsize">
      <app-icon name="download"/>
    </a>

    <button class="button" (click)="showExifViewer()">
      <app-icon name="info"/>
    </button>
  }
</div>

@if (exifViewerMediaId(); as mediaId) {
  @defer (on immediate) {
    <app-bottom-sheet (close)="closeExifViewer()">
      <app-exif-dialog [mediaId]="mediaId"/>
    </app-bottom-sheet>
  }
}
