:host {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 2;
}

.actions {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  align-items: center;
  color: white;
}

.name {
  flex: 1;
  font-weight: bold;
  line-height: 24px;
}

.button {
  display: grid;
  place-items: center;
  width: 48px;
  height: 48px;
  color: white;
  text-decoration: none;
  background: transparent;
  border: 0;
}
