<div class="search">
  <app-search-input
    [initialValue]="store.searchTermTrimmed()"
    (searchTermChanged)="searchTermChanged($event)"/>
</div>

@if (store.results(); as itemsState) {
  @switch (itemsState.state) {
    @case ('loading') {
      <app-busy-full/>
    }
    @case ("success") {
      @if (itemsState.data.length) {
        <app-search-results
          [items]="itemsState.data"
          (scrollChanged)="scrollChanged($event)"
          [initialScrollState]="toScrollState()"
        />
      } @else {
        <div class="no-results">No results</div>
      }
    }
    @case ("error") {
      <app-error-snackbar [errorState]="itemsState"/>
    }
  }
}

