:host {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
}

:host > .canvas {
  position: relative;
  will-change: height;

  // initial size to allow for some initial scrolling
  // before anything was actually laid out
  height: 200%;
}

:host > .canvas ::ng-deep {
  > * {
    position: absolute;
  }
}
