@use "../../../viewport";

:host {
  display: flex;
  gap: 4px;

  align-items: center;

  box-sizing: border-box;
  user-select: none;

  @include viewport.small {
    flex-direction: column;
    flex: 1;
    min-width: 48px;
  }

  @include viewport.large {
    // wide navbar, icon + text are horizontal
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;

    &.active {
      background-color: antiquewhite;
    }
  }
}

@include viewport.small {
  .indicator {
    display: grid;
    place-items: center;

    width: 64px;
    height: 32px;
    border-radius: 16px;
  }

  :host.active {
    .indicator {
      background: antiquewhite;
    }
  }
}

.label {
  font-size: 14px;
  line-height: 16px;

  @include viewport.large {
    // should not be needed, but makes the design look a lot nicer
    padding-top: 2px;
  }
}

