:host {
  display: block;
  cursor: pointer;

  // radius for thumbnails
  --thumbnail-border-radius: 8px;
}

.thumb-grid-2 {
  display: grid;
  grid-template-columns: 100%;

  app-thumbnail {
    // disable border of thumbnail component
    --thumbnail-border-radius: 0;
    --thumbnail-aspect-ratio: 2;
  }

  // create our own border around the thumb-grid
  overflow: hidden;
  border-radius: var(--thumbnail-border-radius, 8px);
}

.thumb-grid-3, .thumb-grid-4 {
  display: grid;
  grid-template-columns: calc(50% - 1px) calc(50% - 1px);
  gap: 2px;

  background-color: #eee;

  app-thumbnail {
    // disable border of thumbnail component
    --thumbnail-border-radius: 0;
  }

  // create our own border around the thumb-grid
  overflow: hidden;
  border-radius: var(--thumbnail-border-radius, 8px);
}

.info {
  padding-top: 8px;

  .title {
    font-weight: bold;
    line-height: 24px;
    word-break: break-word;
  }

  .subtitle {
    opacity: 0.75;
    font-size: 14px;
    line-height: 24px;
  }
}
