<cdk-virtual-scroll-viewport itemSize=104 scrollWindow class="viewport">

  <div class="row" *cdkVirtualFor="let item of rows()">
    @switch (item.type) {
      @case ("header") {
        <div class="title">
          <h1>{{ item.header.name }}</h1>
          <div class="info">{{ item.header.mediaCount }} images, {{ item.header.timestamp|date:'shortDate' }}</div>
        </div>
      }
      @case ("row") {
        <app-album-row [items]="item.items" (mediaClicked)="mediaClicked.emit($event)" [columns]="item.columns"/>
      }
    }
  </div>
</cdk-virtual-scroll-viewport>
