@if (rows(); as rows) {
  <app-list-view [items]="rows">
    <ng-template let-item>
      <div class="row">
        @switch (item.type) {
          @case ("header") {
            <div class="title">
              <h1>{{ item.header.name }}</h1>
              <div class="info">{{ item.header.mediaCount }} images, {{ item.header.timestamp|date:'shortDate' }}</div>
            </div>
          }
          @case ("row") {
            <app-album-row [items]="item.items" (mediaClicked)="mediaClicked.emit($event)" [columns]="item.columns"/>
          }
        }
      </div>
    </ng-template>
  </app-list-view>
}
